<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildVersion</key>
	<string>21</string>
	<key>CFBundleShortVersionString</key>
	<string>5.1</string>
	<key>CFBundleVersion</key>
	<string>5084</string>
	<key>ProductBuildVersion</key>
	<string>5B130a</string>
	<key>ProjectName</key>
	<string>IDEFrameworks</string>
	<key>SourceVersion</key>
	<string>5084000000000000</string>
</dict>
</plist>
